@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Black.ttf);
}

* {
    box-sizing: border-box;
    font-family: roboto, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2d3b52;
    padding: 20px 0;
    text-transform: uppercase;
}

h1,
.h1 {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1;
    margin: 15px auto;
    text-align: center;
}

.cont-head {
    width: 1000px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    background-color: white;
}

.nav-item:hover a {
    color: #2d3b52;
}

.banner {
    height: 600px;
    background-color: #1cbb9b;
    color: #FFF;
    position: relative;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.banner-thumbnail {
    position: relative;
    line-height: 0;
    overflow: hidden;
}

.banner-thumbnail img {
    width: 100%;
    max-width: 300px;
}

.banner-text {
    text-align: center;
}

.cards {
    padding: 40px 0;
    background-color: white;
    color: #2d3b52;
    text-align: center;
}

.cards-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards-images .card-img {
    display: block;
    position: relative;
    line-height: 0;
    overflow: hidden;
    padding: 7px;
    width: 33.333333%;
    border-radius: 25px;
}

.cards-images .card-img img {
    max-width: 100%;
}

.intro {
    padding: 30px 0;
    text-align: center;
    background-color: #1cbb9b;
    color: white;
}

.cont-intro {
    margin: 10px auto;
    width: 600px;
    font-size: 16px;
    column-count: 2;
    column-gap: 30px;
    text-align: left;
}

.intro button {
    background-color: #1cbb9b;
    color: white;
    font-size: 16px;
    padding: 15px 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    border: solid 1px white;
    border-radius: 4px;
}

.intro button a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.intro button:hover {
    background-color: #2d3b52;
    color: black;
    cursor: pointer;
}

.cont-act {
    padding-top: 10px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}

.cont-act h1 {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.contact {
    width: 600px;
    margin: 30px auto 0;
    display: block;
    background: #FFF;
    color: #2d3b52;
    padding: 10px 50px 50px;
}

.contact h1 {
    text-align: center;
    font-size: 44px;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 500px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

textarea {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 500px;
    border: none;
    border-bottom: 1px solid #757575;
}

textarea:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input:focus~label{
    top: -20px;
    font-size: 14px;
    color: #999;
}

textarea:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #999;
}

.contact button {
    background-color: #1cbb9b;
    padding: 10px 15px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.contact button:hover {
    background-color: #2d3b52;
    color: white;
    cursor: pointer;
}

footer {
    padding-top: 30px;
    background-color: #2d3b52;
    color: #FFF;
}

.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
    text-align: center;
}

h4 {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.media i {
    height: 40px;
    width: 40px;
    font-size: 16px;
    padding-top: 10px;
    margin: 2px;
    border: 2px solid white;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.media i:hover {
    cursor: pointer;
    color: #1cbb9b;
    border-color: #1cbb9b;
}

.copyrights {
    background-color: #1a283f;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    padding: 15px 0;
    font-size: 16px;
}

@media (max-width: 991px) {
    .cont-head {
        padding: 5px;
        width: fit-content;
    }

    .navbar {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: auto;
    }

    .banner-text {
        margin-top: 25px;
    }

    .intro {
        margin: 5px;
        padding: 2px;
    }

    .cont-intro {
        text-align: center;
        margin: auto;
    }

    .contact {
        margin: 0 auto;
        padding: 2px;
        width: fit-content;
    }

    .media {
        margin: 5px auto;
        display: block;
        width: fit-content;
        padding: 5px;
    }

    .media div {
        padding: 15px;
    }
}

@media (max-width: 661px) {

   
    .h1 {
        font-size: 35px;
    }
    .navbar{
        justify-content: center;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }
  

    .cont-head {
        width: fit-content;
    }

  
    .banner-thumbnail img {
        max-width: 200px;
    }

    .banner-text {
        margin-top: 35px;
    }

    .cards {
        margin: auto;
        width: 100%;
    }

    .cards-images .card-img {
        width: 50%;
    }

    .intro {
        margin: auto;
        height: fit-content;
        width: fit-content;
    }

    .cont-intro {
        column-count: auto;
        text-align: center;
        margin: auto;
        padding: auto;
        width: fit-content;
    }

    .contact {
        margin: 10px 0;
        padding: 0;
        width: fit-content;
        text-align: center;
    }

    .contact input {
        width: fit-content;
    }

    .contact textarea {
        width: 300px;
        justify-content: center;
    }

    .media {
        margin: 5px auto;
        display: block;
        width: fit-content;
        padding: 5px 0;
    }

    .media div {
        padding: 15px 0;
    }
}


/*-------*/
.container {
    width: 100%;
    max-width: 1470px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

@media (max-width: 1199px) {
    .container {
        max-width: 1170px;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}

.underline-with-star i {
    margin: 0 10px;
}

.underline-with-star {
    display: flex;
    width: 200px;
    margin: 0 auto 15px;
    font-size: 25px;
    color: #fff;
}

.underline-with-star.dark-star {
    color: #2d3b52;
}

.underline-with-star:before,
.underline-with-star:after {
    content: "";
    border-bottom: 4px solid #fff;
    margin: auto;
    flex: 1;
}

.underline-with-star.dark-star:before,
.underline-with-star.dark-star:after {
    border-bottom-color: #2d3b52;
}